.frontpage {
	background-color: $efcis-white;
	font-family: 'Merriweather', serif;


	.logo {
		width: 235px;
		height: 100px;
		background-size: cover;

		background-image: url('../images/efcis-logo.svg');
	}

	h1 {
		font-size: 5rem;
		font-weight: 700;
	}

	h4 {
		color: $threedi-blue;
		font-weight: 600;
	}

	p.lead {
	    font-size: 2rem;
	    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	    line-height: 1.7;
	    margin-top: 2em;
	}

	.header {
		background-image: url('../images/header-bg.jpg');
		background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
		// background-color: $efcis-purple;

		color: #ffffff;
		padding-bottom: 3.7rem;
		padding-top: 2rem;
	}

	.footer a {
	  color: #333333;
	}


	a {
		color: #fff;
	}

	.intro-text {
	    line-height: 1.7;
	    margin-bottom: 4rem;
	}

	.banner-background {
		background-image: url('../images/efcis-banner.svg');
		background-repeat: no-repeat;
		background-size: 80%;
		background-position-x: 60px;
		height: 300px;
	}

	.dark {
		color: $threedi-white;
		background-color: $threedi-darkblue;
		padding-top: 4rem;
	}

}
