<div class="docnav hidden-sm hidden-xs">
	<a href="{{ .Site.BaseURL }}" class="truncate block small"><i class="fa fa-home"></i>&nbsp;Home</a>
	<hr/>
	<span class="truncate block small strong spacing">EFCIS</span>
	<a href="{{ .Site.BaseURL }}efcis/" class="truncate block small {{ if eq .Title "EFCIS" }}underline{{ end }}">Algemeen</a>
	<a href="{{ .Site.BaseURL }}efcis/opbouw/" class="truncate block small {{ if eq .Title "Opbouw" }}underline{{ end }}">Opbouw</a>
	<a href="{{ .Site.BaseURL }}efcis/kenmerken/" class="truncate block small {{ if eq .Title "Kenmerken" }}underline{{ end }}">Overzicht kenmerken</a>
	<a href="{{ .Site.BaseURL }}efcis/instructiefilms/" class="truncate block small {{ if eq .Title "Instructiefilms" }}underline{{ end }}">Instructiefilms</a>
	<br/>
	<span class="truncate block small strong spacing">KRW Dashboard</span>
	<a href="{{ .Site.BaseURL }}krwdashboard/" class="truncate block small {{ if eq .Title "KRW Dashboard" }}underline{{ end }}">Algemeen</a>
	<a href="{{ .Site.BaseURL }}krwdashboard/aanleiding/" class="truncate block small {{ if eq .Title "Aanleiding" }}underline{{ end }}">Aanleiding</a>
	<a href="{{ .Site.BaseURL }}krwdashboard/impressie/" class="truncate block small {{ if eq .Title "Impressie" }}underline{{ end }}">Impressie</a>
	<br/>
	<span class="truncate block small strong spacing">Advies</span>
	<a href="{{ .Site.BaseURL }}advies/" class="truncate block small {{ if eq .Title "Advies" }}underline{{ end }}">Algemeen</a>
	<a href="#" class="truncate block small {{ if eq .Title "" }}underline{{ end }}">Advies op maat</a>
	<a href="#" class="truncate block small {{ if eq .Title "" }}underline{{ end }}">Data-ordening en –analyse</a>	
	<a href="#" class="truncate block small {{ if eq .Title "" }}underline{{ end }}">Watersysteemanalyse</a>	
	<a href="#" class="truncate block small {{ if eq .Title "" }}underline{{ end }}">Begeleiding bij monitoring</a>	
	<a href="#" class="truncate block small {{ if eq .Title "" }}underline{{ end }}">Detachering</a>	
</div>
