<div class="docnav hidden-sm hidden-xs">
	<a href="{{ .Site.BaseURL }}" class="truncate block small"><i class="fa fa-home"></i>&nbsp;Home</a>
	<hr/>
	<span class="truncate block small strong spacing">EFCIS</span>
	<a href="{{ .Site.BaseURL }}efcis/#algemeen" class="truncate block small">Algemeen</a>
	<a href="{{ .Site.BaseURL }}efcis/#opbouw" class="truncate block small">Opbouw</a>
	<a href="{{ .Site.BaseURL }}efcis/#kenmerken" class="truncate block small">Overzicht kenmerken</a>
	<a href="{{ .Site.BaseURL }}efcis/#implementatie" class="truncate block small">Implementatie</a>
	<a href="{{ .Site.BaseURL }}efcis/#instructiefilms" class="truncate block small">Instructiefilms</a>
	<br/>
	<span class="truncate block small strong spacing">KRW Dashboard</span>
	<a href="{{ .Site.BaseURL }}krwdashboard/#algemeen" class="truncate block small">Algemeen</a>
	<a href="{{ .Site.BaseURL }}krwdashboard/#aanleiding" class="truncate block small">Aanleiding</a>
	<a href="{{ .Site.BaseURL }}krwdashboard/#impressie" class="truncate block small">Impressie</a>
	<br/>
	<span class="truncate block small strong spacing">Advies</span>
	<a href="{{ .Site.BaseURL }}advies/#algemeen" class="truncate block small">Algemeen</a>
	<a href="{{ .Site.BaseURL }}advies/#advies-op-maat" class="truncate block small">Advies op maat</a>
	<a href="{{ .Site.BaseURL }}advies/#data-ordening" class="truncate block small">Data-ordening en –analyse</a>	
	<a href="{{ .Site.BaseURL }}advies/#krwtoetsing" class="truncate block small">Uitvoering toetsing</a>	
	<a href="{{ .Site.BaseURL }}advies/#watersysteemanalyse" class="truncate block small">Watersysteemanalyse</a>	
	<a href="{{ .Site.BaseURL }}advies/#begeleiding-bij-monitoring" class="truncate block small">Begeleiding bij monitoring</a>	
	<a href="{{ .Site.BaseURL }}advies/#detachering" class="truncate block small">Detachering</a>		
	<span class="truncate block small strong spacing">&nbsp;</span>
	<a href="{{ .Site.BaseURL }}contact/" class="truncate block small">Contact</a>
</div>
