{{ template "partials/header.html" . }}

  <body class="frontpage">
    <div class="container-fluid header">
      <div class="container">
        <div class="logo"></div>
        <div class="col-md-6">
          <p class="lead">
            <a href="http://www.nelen-schuurmans.nl/" target="_blank">Nelen &amp; Schuurmans</a> is een adviesbureau voor Water & IT. Op deze website vind je meer informatie over onze werkzaamheden en producten met betrekking tot de werkvelden Ecologie en Waterkwaliteit.
          </p>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs banner-background">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>&nbsp;</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Over EFCIS</h4>
          <p class="intro-text">EFCIS is een gebruiksvriendelijke webapplicatie die specifiek is ontwikkeld voor de opslag, beheer, ontsluiting en analyse van ecologische en fysisch-chemische waterkwaliteitsgegevens. Hierdoor worden de databeheerders ontzorgd én worden de (beleids-)adviseurs ecologie en waterkwaliteit gefaciliteerd om meer met de monitoringsgegevens te kunnen gaan doen.</p>
          <a href="efcis/"><button class="btn btn-lg btn-default">Meer informatie over EFCIS</button></a>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R3XCJprvvLQ"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>&nbsp;</h5>
          <hr/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="./images/screenshot-krw-kpi.jpg" class="img-responsive" />
        </div>
        <div class="col-md-6">
          <h4>Over KRW Dashboard</h4>
          <p class="intro-text">Om inzicht te krijgen in de ecologische en fysisch-chemische waterkwaliteit wil je vanuit het grotere geheel kunnen inzoomen naar relevante details. Om dit proces voor de KRW te ondersteunen is het KRW Dashboard ontwikkeld. Door de generieke configuratie is het Dashboard ook geschikt om het voor andere doelen dan KRW in te zetten.</p>        
          <a href="krwdashboard/"><button class="btn btn-lg btn-default">Meer informatie over KRW Dashboard</button></a>
        </div>
      </div>
      <div class="row">
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>&nbsp;</h5>
        </div>
      </div>
    </div>    

    <div class="container-fluid dark">
      <div class="container">
        <div class="col-md-12">
          <h2>Advies</h2>
          <p class="intro-text">
            Door onze kennis en ervaring met de werkvelden ecologie en waterkwaliteit kunnen wij op maat advies geven over specifieke vraagstukken, ondersteunen of ontzorgen in de data-ordening en data-analyse, uitvoeren van KRW-toetsing, volledige watersysteemanalyses uitvoeren, begeleiding bieden bij monitoring en ga zo maar door. We zijn op stedelijk, regionaal en landelijk schaalniveau actief met ons advieswerk.
          </p>
          <a href="advies/"><button class="btn btn-lg btn-default">Meer informatie over advies</button></a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5>&nbsp;</h5>
          </div>
        </div>
      </div>          
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>&nbsp;</h5>
          <hr/>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Contact</h2>
          <p class="intro-text">Voor vragen over en/of het aanvragen van onze advieswerkzaamheden en producten neemt u contact op via <a href="mailto:info@nelen-schuurmans.nl" style="color:#000;">info@nelen-schuurmans.nl</a> of <a href="tel:+31302330200" style="color:#000;">030 23 30 200</a></p>
            
              
              
            
          </p>
        </div>
      </div>
      </div>
      <div class="row">
      </div>
      </div>
    </div>


   <div class="container footer">
    <div class="row">
      <div class="col-md-12">
        <h5 class="pull-right">2015 / <a href="http://www.nelen-schuurmans.nl/" target="_blank">Nelen &amp; Schuurmans</a></h5>
      </div>
    </div>
  </div>

{{ template "partials/footer.html" . }}
