.guide {
	background-color: $threedi-background-gray;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 100px;
	line-height: 25px;
	

	.logo {
		width: 420px;
		height: 75px;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/efcis-logo.png');
	}

	h1 {
		font-family: 'Merriweather', serif;
		font-size: 5rem;
		font-weight: 700;
	}

	h2 {
		font-family: 'Merriweather', serif;
		font-size: 3rem;
		font-weight: 700;	
	}

	h4 {
		color: $threedi-blue;
		font-weight: 600;
	}

	p.lead {
	    font-size: 2rem;
	    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
	    line-height: 1.7;
	    margin-top: 2em;
	}

	.header {
		background-color: $efcis-purple;
		background-image: none;
		color: #ffffff;
		padding-bottom: 1rem;
		padding-top: 0.5rem;
	}

	a {
		color: #000;
	}

	.intro-text {
	    line-height: 1.7;
	    margin-bottom: 4rem;		
	}

	.banner-background {
		background-image: url('../images/ui.png');
		background-repeat: no-repeat;
		background-size: 80%;
		background-position-x: 60px;
		height: 300px;
	}

	.dark {
		color: $threedi-white;
		background-color: $threedi-darkblue;
		padding-top: 4rem;
	}

	.block {
		display: block;
	}

	.truncate {
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}	

	.underline {
		text-decoration: underline;
	}

	.strong, strong {
		font-family: 'Open Sans', sans-serif;
	    font-weight: 700;
	}

	.menu a {
		line-height: 20px;
	}

	a.spacing, span.spacing {
		margin: 5px 0 5px 0;
	}

	.docnav{
		position: fixed;
		top: 130px;
		bottom: 0;
		width: 100%;
	}


	ul li {
		list-style-type: disc;
		list-style-position: inside;
	}



	.pricing-table {
		margin: 100px 0;	
	}
	.pricing-table:after { 
		display: block; 
		visibility: hidden; 
		clear: both; 
		height: 0;
		content: "";
	}
	.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
		border-left: 1px solid #eeeeee!important;
	}
	.pricing-column {
		float: left;
		overflow: hidden;
		padding: 0px;
		background-color: #fff;
		text-align: center;
		-webkit-transition: box-shadow 0.2s linear;
		-moz-transition: box-shadow 0.2s linear;
		-o-transition: box-shadow 0.2s linear;
		transition: box-shadow 0.2s linear;
	}
	.pricing-column .features{
		padding:0;
		margin-bottom:0;
		background:none;
	}
	.pricing-column .pricing-column-content {
		padding: 0px 0px 20px 0px;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
	}

	.pricing-column.highlight {
		position: relative;
		z-index: 100;
		margin: -33px -1px 0px -1px;
		background-color: #ffffff;
		-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
		-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
		box-shadow: 0px 0px 13px rgba(0,0,0,.09);
		-o-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	}
	.pricing-column.highlight.accent-color h3{
	    margin-top: 14px !important;
	    border-top: 1px solid #eee;
	    border-bottom: 1px solid #eee;
	}
	.pricing-column.highlight.accent-color h3 .highlight-reason{
		color: #845F8C;
	}
	.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
		border: none;
	}

	.pricing-column.highlight h3 .highlight-reason {
		display: block;
	    color: rgba(0,0,0,0.4);
	    text-transform: uppercase;
	    letter-spacing: 1.5px;
	    font-size: 12px;
	}
	.pricing-column.highlight .pricing-column-content {
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
	}
	.pricing-column.highlight:hover {
		-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
		-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
		box-shadow: 0px 0px 13px rgba(0,0,0,.15);
		-o-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	}
	.pricing-column ul li {
		padding: 5px 25px;
		color: #666666!important;
		list-style: none;
		line-height: 18px;
	}
	.pricing-column.highlight h3 {
		margin-bottom: 0px!important;
		padding: 15px 0px;
	}
	.pricing-column h3 {
		margin-bottom: 0px;
		padding: 18px 0px 18px 0px;
		border-top: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		background-color: #ffffff;
		font-size: 26px;
		line-height: 28px;
	}
	.pricing-column .pricing-header{
		background-color: #f8f8f8;
	}
	.pricing-column h4 {
		margin-bottom: 0px;
		margin-left: -22px;
		padding: 20px 30px 6px 30px;	
		color: #333333;
		font-size: 54px!important;
		line-height: 42px!important;
			font-weight: 700;
	}
	.pricing-column h4 .dollar-sign {
		position: relative;
		top: -14px;
		right: -6px;
		font-size: 22px;
		line-height: 22px;
	}
	.pricing-column .interval {
		display: block;
		display: block;
		padding-bottom: 17px;
		min-height: 38px;
		color: #999999;
	}
	.pricing-column ul {
		margin-left: 0px;
		margin-top:10px;
	}
	.pricing-column .btn{
		margin-top:25px;
		margin-bottom:10px;
	}
	.pricing-column.highlight .btn{
		margin-bottom:10px;
	}
	.pricing-table.six-cols > div {
		width: 16.5%;
	}
	.pricing-table.five-cols > div {
		width: 20%;
	}
	.pricing-table.four-cols > div {
		width: 25%;
	}
	.pricing-table.three-cols > div {
		width: 33.2%;
	}
	.pricing-table.two-cols > div {
		width: 50%;
	}

	.pricing-column.highlight h3 {
	/*	background-color: #0a72f5 !important;	
		color: #fff;*/
	}



}
